@model List<OrderListDto>
<h6 class="dispkay-6">Siparişlerim</h6>
<hr />
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Sipariş No</th>
            <th>Tarih</th>
            <th>Toplam</th>
            <th>Sipariş Detayı</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderNumber</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>@order.TotalPrice()</td>
                <td>
                    <a class="btn btn-sm btn-primary">Detay Göster</a>
                </td>

            </tr>
        }
    </tbody>
</table>