@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-success" asp-controller="Home" asp-action="YasGrubu">Yaş Grubu Hesaplama</a>
<a class="btn btn-success" asp-controller="Home" asp-action="CreateProduct">Create Product</a>




























@* post=bu verileri al sunucuya gönder. homecontrollerda IAction oluşturduk *@

@* <form asp-controller="Home" asp-action="VerileriAl" method="post"> 
    <label>Ad</label>
    <input type="text" name="txtAd" >
     <label>Yaş</label>
    <input type="text" name="txtYas" >
    @* <input type="submit" name="" value="gönder"> *@
     @* <button type="submit">Gönder</button>

</form>  *@