@{
    ViewData["Title"] = "YasGrubu";
}
<h1>Yaş Grubu Hesaplama</h1>
<hr>

<form asp-controller="Home"method="post">
    <label class="form-label">Yaş:</label>
    <input type="text" class="form-control" name="yas">
    <label class="form-label">Ad</label>
    <input type="text" class="form-control" name="ad">
    <input type="submit" value="Hesapla" class="btn btn-primary mt-3">
</form>

@if (ViewBag.YasGrubu != null)
{
    <div class="mt-3 alert alert-success">@ViewBag.YasGrubu</div>
}
<div class="mt-3 alert alert-success ">
   @ViewBag.YasGrubu
</div>