
@model CategoryDto


<div class="card mb-2" style="height:170px; width:150px;">
    <div class="card-img p-2 text-center">
        <img class="img-fluid" src="/images/@Model.ImageUrl" style="width:100px; height:100px;" />
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">@Model.Name</h5>
        
    </div>
</div>
