@{
    string tip="";
    if(ViewBag.Tip=="Kategori")
    {
        tip="kategoriye";

    }else if(ViewBag.Tip=="Yazar")
    {
        tip="yazara";   
    }
}
<div class="row">
    <div class="col-12">
        <div class="alert alert-danger">
            Hehangi bir kayıt bulunamadı.
        </div>
    </div>
</div>