<form
    asp-area="Admin"
    asp-controller="Category"
      asp-action="Search" class="d-flex justify-content-end">
    <input class="w-50 form-control me-2" name="q" type="search" placeholder="Ara..." aria-label="Search" />
    <button class="btn btn-outline-success" type="submit">Ara</button>
</form>