@* Bu sayfalar, içerisnde C# kodlar ile HTML kodlarını birlikte yazmamızı sağlar.
Bunlara Razor Page denir. MVC yapısı içinde View olarak da adlandırılır. *@

@{
    ViewData["Title"] = "Home Page"; 
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!!</h1>
    <p>Bu paragrafı biz yazdık</p>
    <button class="btn btn-success">Ekle</button>
    <button class="btn btn-danger">Sil</button>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
