@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <h1 class="display-3">Welcome to EducationApp</h1>
</div>


<div class="container mt-4 ">
    <div class="row d-flex justify-content-center">
        <div class="col-3">
            <a class="btn btn-info"
               asp-area=""
               asp-controller="Student"
               asp-action="Index">
                Ders Vermek İstiyorum
            </a>
        </div>
        <div class="col-3">
            <a class="btn btn-info"
               asp-area=""
               asp-controller="Teacher"
               asp-action="Index">
                Ders Almak İstiyorum</a>
        </div>


    </div>
</div>

