
<div class="text-center">
    <div>
        <a class=" btn btn-outline-info rounded-pill fw-bolder fs-4 mb-3"
       asp-area="Admin"
       asp-controller="Teacher"
       asp-action="Index">
        <div class="d-flex align-items-center justify-content-center" style="width:220px; height:150px;">Öğretmenler</div>
    </a>
    </div>

    <div>
        <a class="btn btn-outline-info rounded-pill fw-bolder fs-4 mb-3"
       asp-area="Admin"
       asp-controller="Student"
       asp-action="Index">
            <div class="d-flex align-items-center justify-content-center" style="width:220px; height:150px;">Öğrenciler</div>
    </a>
    </div>

    <div>
        <a class="btn btn-outline-info rounded-pill fw-bolder fs-4 mb-3"
       asp-area="Admin"
       asp-controller="Category"
       asp-action="Index">
            <div class="d-flex align-items-center justify-content-center" style="width:220px; height:150px;">Dersler</div>
    </a>
    </div>
</div>