@using EducationApp.Web.Models;
@model List<TeacherDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="display-5">Ders Vermek İsteyenler</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-3">
            @await Component.InvokeAsync("Categories")


        </div>

        <div class="col-9">

            @foreach (var teacherDto in Model)
            {

                @await Html.PartialAsync("_TeacherPartial", teacherDto)

            }

        </div>

    </div>
</div>

