<h2 class="d-flex align-items-center justify-content-center mt-5 mb-5">Merhaba, Hoş geldiniz...</h2>

<h5 class="d-flex align-items-center justify-content-center mt-4">Kaydolmak için size uygun butona tıklayınız</h5>

<div class="row pt-5 mt-3  ">
    <div class="col-6 d-flex align-items-end justify-content-end">
       
       
          <a class=" btn btn-outline-info rounded-pill fw-bolder shadow-lg fs-4 mb-3"
       asp-area=""
       asp-controller="Account"
       asp-action="RegisterTeacher">
        <div class="d-flex align-items-center justify-content-center" style="width:220px; height:150px;">Öğretmenim</div>
        </a>
       
    </div>
    <div class="col-6 d-flex align-items-start justify-content-start">
        
        <a class=" btn btn-outline-info rounded-pill fw-bolder shadow-lg fs-4 mb-3"
       asp-area=""
       asp-controller="Account"
       asp-action="RegisterStudent">
        <div class="d-flex align-items-center justify-content-center" style="width:220px; height:150px;">Öğrenciyim</div>
        </a>
    </div>
</div>
