@model List<CategoryDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome EducationApp</h1>
</div>


<div class="container mt-4 ms-5 t-3">
    <div class="row d-flex justify-content-center">
        <div class="col-3">
            <a class="btn btn-info" 
               asp-area=""
               asp-controller="Student"
               asp-action="Index">
                Ders Vermek İstiyorum
            </a>
        </div>
        <div class="col-3">
            <a class="btn btn-info" 
               asp-area=""
               asp-controller="Teacher"
               asp-action="Index">
                Ders Almak İstiyorum
            </a>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-3 ">
    <div class="card mt-3 w-75 py-3 px-5 shadow-lg bg-success bg-opacity-10">
        <h3>Popüler Dersler</h3>
        <div class="row p-0 m-0 w-100 pe-3 pt-2 ">
        @foreach (var categoryDto in Model)
        {
            <div class="col-md-3 ">
                @await Html.PartialAsync("_CategoryPartial", categoryDto)
            </div>
        }
    </div>
</div>
</div>






