@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<h1 class="display-6">Category List</h1>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var c in Model)
        {
            <tr>
            <td>@c.Id</td>
            <td>@c.Name</td>
            <td>@c.Desc</td>
            </tr>
        }
    </tbody>