<div class="p-4 text-center">
    <a 
        class="btn btn-success fs-4" 
        style="width:150px; height:150px;"
        asp-area="Admin"
        asp-controller="Category"
        asp-action="Index">
        <div class="d-flex align-items-center justify-content-center" style="width:150px; height:150px;">Kategoriler</div>
    </a>
    <a 
        class="btn btn-info fs-4" 
        style="width:150px; height:150px;"
        asp-area="Admin"
        asp-controller="Product"
        asp-action="Index">
        <div class="d-flex align-items-center justify-content-center" style="width:150px; height:150px;">Ürünler</div>
        
    </a>
</div>