
@model CategoryDto



<div class="card mb-2 foto-zoom" style="height:210px; width:200px;">
    <div class="card-img  text-center">
        <a href="" >
            <img class="img-fluid " src="/images/@Model.ImageUrl" style="width:300px; height:150px;" />
        </a>
    </div>
    <div class="card-body ">
        <a class= "text-decoration-none text-warning"href="">
        <h5 class="card-title text-center ">@Model.Name</h5>
            </a>

    </div>
</div>
