@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="text-center">
    <h1 class="display-4">Burası Admin Area, hoş geldiniz.</h1>
    <p>Blog Area kısmına geçmek için <a asp-area="" asp-controller="Home" asp-action="Index" >tıklayınız</a>.</p>
</div>
