<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="text-center m-5">
        <h1 class="text-primary display-5">Admin Panel</h1>
    </div>
    <div>
        @RenderBody() 
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
