@model ProductViewModel

<h3>Ürün Detayı</h3>

<div class="card ">
    <div class="row card-body">
        <div class="col-3">
            <img src="@Model.ImageUrl" />
        </div>
        <div class="col-6 text-danger">
            @Model.Name
        <div class="text-info">
            @($"{Model.Price:C0}")
        </div>
        
        <div class="mt-3 text-black">
            @Model.Description
        </div>
        </div>

    </div>
</div>