<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>Kendi Şablonumuz</title>
</head>

<body>
    <div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1 class="display-1 text-danger fw-bold">NBUY APP</h1>
        </div>
        <div>
            <ul class="d-flex gap-2 list-unstyled">
                @* <li><a href="home/index">Home</a></li>
                <li><a href="home/privacy">Privacy</a></li>
                <li><a href="home/About">About</a></li>
                <li><a href="home/Contact">Contact</a></li> *@
                
                <li><a href="/">Home</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                

            </ul>

        </div>
    </div>
    @RenderBody()
    </div>




    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>