@using ShoppingApp.Entity.Concrete
@model Product

<!-- Button trigger modal -->
<button type="button" class="btn btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalProductDelete_@Model.Id">
    Sil
</button>

<!-- Modal -->
<div class="modal fade" id="modalProductDelete_@Model.Id" tabindex="-1" aria-labelledby="modalLabelProductDelete_@Model.Id" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabelProductDelete_@Model.Id">Dikkat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div>
                    <img src="~/images/@Model.ImageUrl" />
                </div>
                <strong> @Model.Name </strong> adlı ürünü silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <form
                id = "productDeleteForm_@Model.Id"
                asp-area = "Admin"
                asp-controller="Product"
                asp-action="Delete"
                asp-route-id="@Model.Id"
                
                >
                <button type="button"
                    class="btn btn-primary"
                            onclick="document.getElementById('productDeleteForm_@Model.Id').submit();">Evet</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                
            </div>
        </div>
    </div>
</div>





@*<a class="btn btn-danger btn-sm"
   asp-area="Admin"
   asp-controller="Product"
   asp-action="Delete"
   asp-route-id=@Model
   .Id>Sil</a>*@