@{
    ViewData["Title"] = "Blog Home Page";
}

<div class="text-center">
    <h1 class="display-4">Burası Blog Area, hoş geldiniz.</h1>
    <p>Admin Area kısmına geçmek için <a asp-area="Admin" asp-controller="Home" asp-action="Index">tıklayınız</a>.</p>
</div>
