@using EducationApp.Web.Models
@model List<CategoryDto>
<div class=" justify-content-around w-75">
    @foreach (var category in Model)
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-success p-1  bg-opacity-10 text-info border-bottom shadow-lg mb-3 ">

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropend  fst-italic fw-normal ">
                        <a  
                       asp-controller="Student"
                       asp-action="Index"
                       asp-route-categoryurl=@category.Url
                       class=" text-decoration-none">
                            @category.Name
                        </a>
                        <a type="button" class=" dropdown-toggle dropdown-toggle-split p-2" data-bs-toggle="dropdown" aria-expanded="false">

                        </a>
                    
                    
                        <ul class="dropdown-menu">
                            @foreach (var subCategory in category.SubCategory)
                            {
                                <li>
                                    <a asp-controller ="Student"
                                             asp-action="Index"
                                             asp-route-categoryurl=@subCategory.Url
                                        class="dropdown-item">@subCategory.Name</a>
                                </li>
                            }
                        </ul>
                    </li>

                </ul>
            </div>

        </nav>
    }
</div>





