@*@{
    Layout = "_Layout"; Viewstart getirdiğimiz için buna gerek kalmadı
}
*@



<div class="p-4 text-center">
    <button class="btn btn-success fs-4" 
    style="width:150px; height:150px;"
    asp-area="Admin"
    asp-controller="Category"
    asp-action="Index"
    >Kategoriler</button>

    <button class="btn btn-info fs-4" 
    style="width:150px; height:150px;"
            asp-area="Admin"
            asp-controller="Product"
            asp-action="Index"
    >Ürünler</button>

</div>