.dropdown-toggle::after{
    display: none;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task label.checked {
    text-decoration: line-through;
}

.filters span.active {
    color: #3c87ff;
}

.filters span{
    margin-right: 5px;
    color: #444444;
    cursor: pointer;
}