<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="container">
        <div class="text-center m-5">
            <h1 class="text-primary display-5 fw-normal">
                <a class="text-decoration-none" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
            </h1>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
